body {
    font-family: "Microsoft Yahei"
}
label,input{
    display:block;
    width:300px;
}

input#submit {
    border: none;
    background-color: #2F79BA;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top:10px;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
}
div{
    margin:5px auto;
    display: flex;
    flex-flow: inherit;
    width: 300px;
}
input{
    border:1px solid #888;
    padding: 7px;
}

p {
    font-size: .8rem;
    color: #BBBBBB;
    margin:0;
}


